body {
    background: #06509C url(bg-blue.png) no-repeat;
}

.container {
    margin-top: 80px;
    min-height: 600px;
    background: #FFF;
}

.special {
  text-align: center;
}

table td {
  font-size: 19px;
}

h1 {
  color: #065197;
  font-size: 50px;
  margin-bottom: 40px;
}
